<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Datos basicos</h6>
        <form ngNativeValidate #formProfile="ngForm" (ngSubmit)="saveForm(formProfile.value)" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">Nombre de usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" name="name" [ngModel]="user.nombre" class="form-control" id="exampleInputuname" placeholder="Nombre del usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" name="email" [disabled]="user.googleq" [ngModel]="user.email" class="form-control" id="exampleInputEmail1" placeholder="Correo del usuario" required>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Datos basicos</h6>
        <img src="" />
        <input type="file" class="form-control">
        <br />
        <br />
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-edit"></i> Actualizar
        </button>        
      </div>
    </div>
  </div>
</div>